$delete-width : 0px;

.todolist-container{
    li{
        display: flex;
        margin-bottom: 12px;
        position: relative;
        &:hover .main{
            width : calc(100% - 40px);
        }
        height: 30px;
        
        .main{
            background-color: white;
            width: 100%;
            padding: 6px;
            box-sizing: border-box;
            display: flex;
            z-index: 2;
            align-items: center;
            transition: .5s;




            .todo-content{
                max-width: calc(100% - 40px);
                word-wrap: break-word;
                
            }


            .todo-done{
                cursor:pointer;

                &.done{
                    color: green;
                }

                &.not-done{
                    color: red;
                }
            }       

        
        }



        .delete{
            width: 40px;
            background-color: red;
            position:absolute;
            right: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;
        }

 
    }
}