$desktop : (min-width : 700px);
.App{
    .contents{
        margin: 0 auto 5px;
        width : calc(100% - 20px);
        

        @media  (min-width: 620px) {
            width : 600px;
        }
    }
}